<template name="addnew">
	<form class="additem">
		Add an item: 
		<input type="text" name="newitemname" />
		<select name="priority">
			<option value="1">Low</option>
			<option value="2" selected>Normal</option>
			<option value="3">High</option>
		</select>
		<button type="submit" value="Submit">Submit</button>
	</form>

</template>