<template name="viewitems">
	<div class="table-responsive">
		<table class="table table-hover">
			<tbody>
				<tr class="row">
					<th>Title</th>
					<th>Priority</th>
					<th>Controls</th>
				</tr>
	{{#each items}}
			<tr class="row item">
				{{#if editmode}} <!-- this is reactive and the state changes anytime a session variable changes -->
					<td>
						<input class="edittitle" value="{{title}}" />
						<button class="cancel">Cancel Edit</button> 
					</td>
				{{else}}
					<td class="title">
						{{title}} 
					</td>
				{{/if}}
					<td>
						<select class="priority">
							<option {{selectedHelper priority "0"}} value=""></option>
							<option {{selectedHelper priority "1"}} value="1">Low</option>
							<option {{selectedHelper priority "2"}} value="2">Normal</option>
							<option {{selectedHelper priority "3"}} value="3">High</option>
						</select>
					</td>
					<td>
						<button class="delete">Delete</button> 
					</td>
			</tr>
	{{/each}}
			</tbody>
		</table>
	</div>

</template>